<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.EmployeeMapper">
	
	<!-- 관리자 비밀번호 변경-->
	<update id="updateEmployeePw" parameterType="java.util.Map">
		UPDATE employee
		SET emp_pw = PASSWORD(#{newPw})
		wHERE emp_np=#{empNo} AND emp_pw=PASSWORD(#{oldPw})
	
	</update>
	<!-- 관리자 로그인 -->
	<select id="login" 
		parameterType="goodee.gdj58.online.vo.Employee"
		resultType="goodee.gdj58.online.vo.Employee"> <!-- resultType : 조회 결과 값을 저장하기 위한 데이터 타입(데이터 하나에 대한 타입 지정) -->
		
		SELECT 
			emp_no empNo
			, emp_id empId
			, emp_name empName
		FROM employee
		WHERE emp_id = #{empId} AND emp_pw = PASSWORD(#{empPw})
	</select>
	
	<!-- 관리자 삭제 -->
	<delete id="deleteEmployee" parameterType="int">
		DELETE FROM employee
		WHERE emp_no = #{empNo}
	</delete>
	
	<!-- 관리자 추가 -->
	<insert id="insertEmployee" parameterType="goodee.gdj58.online.vo.Employee">
		INSERT INTO employee (
			emp_id
			, emp_pw
			, emp_name
		) VALUES (
			#{empId}
			,PASSWORD(#{empPw})
			,#{empName}
		)
	</insert>
	
	<!--페이징을 위한 총 개수 -->
	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM employee
		<where>
			<if test="searchWord != null || searchWord != '' ">
				emp_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	
	<!-- 관리자 리스트 -->
	<select id="selectEmployeeList" 
		resultType="goodee.gdj58.online.vo.Employee"
		parameterType="java.util.Map">
		
		SELECT
			emp_no empNo<!-- rs.getInt("emp_no"),  new Employee().setEmpNo()-->
			, emp_id empId
			, emp_name empName
		FROM employee
		<where>
			<if test="searchWord != null || searchWord != '' ">
				emp_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY emp_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>



