<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TeacherMapper">
	
	<!-- 강사 로그인 -->
	<select id="loginTeacher" 
			parameterType="goodee.gdj58.online.vo.Teacher"
			resultType="goodee.gdj58.online.vo.Teacher"> <!-- resultType : 조회 결과 값을 저장하기 위한 데이터 타입(데이터 하나에 대한 타입 지정) -->
		
		SELECT teacher_no, teacher_id, teacher_name 
		FROM teacher 
		WHERE teacher_id=#{teacherId} AND teacher_pw=PASSWORD(#{teacherPw})
	
	</select>
	
	<!-- 강사 회원 탈퇴 만들긴 해놨으나 관리자만 삭제 가능하게 할 거..-->
	<delete id="deleteTeacher"
			parameterType="int">
		
		DELETE FROM teacher WHERE teacher_no=#{teacherNo}
	
	</delete>
	
	<!-- 강사 회원 가입 -->
	<insert id="insertTeacher" 
			parameterType="goodee.gdj58.online.vo.Teacher"> <!-- parameterType: 전달받은 파라이터 데이터 타입 지정(선택적) -->
		
		INSERT INTO teacher ( teacher_id ,teacher_pw ,teacher_name)
			VALUES (#{teacherId}, PASSWORD(#{teacherPw}), #{teacherName})
	
	</insert>


</mapper>