<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.test.mapper.TestMapper">
	<!-- test 삭제 -->
	<delete id="deleteTest" parameterType="int">
		DELETE FROM test
		 WHERE test_no=#{testNo} AND teacher_no=#{teacherNo}
	</delete>
	
	<!-- tset 수정 -->
	<update id="updateTest" parameterType="java.util.Map">
		
		UPDATE test
		SET test_title= #{testTitle}
		WHERE test_no=#{testNo} AND teacher_no=#{teacherNo}
	
	</update>
	
	<!-- test One -->
	<select id="selecTestOne" 
			parameterType="int" resultType="java.util.Map">

		SELECT test_no testNo, test_title testTitle, test_date testDate, teacher_no teacherNo
		FROM test
		WHERE test_no=#{testNo}
		
	</select>
	
	<!-- test 추가 -->
	<insert id="insertTest" parameterType="goodee.gdj58.online.vo.Test">
		
		INSERT INTO test
			 (test_title , test_date, teacher_no )
		VALUES
			(#{testTitle}, CURDATE(), #{teacherNo})
	
	</insert>
	
	<!--페이징을 위한 총 개수 -->
	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM test
		<where>
			<if test="searchWord != null || searchWord != '' ">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	
	<!--학생 test List -->
	<select id="selecTestListBystudent" 
			parameterType="goodee.gdj58.online.vo.Test"
			resultType="java.util.Map">
		
		SELECT 
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test 
		<where>
			<if test="searchWord != null || searchWord != '' ">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY test_date ASC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!--강사 test List -->
	<select id="selecTestList" 
			parameterType="goodee.gdj58.online.vo.Test"
			resultType="java.util.Map">
		
		SELECT 
			t.test_no testNo
			, t.test_title testTitle
			, t.test_date testDate
			, tc.teacher_id teacherNo
		FROM test t INNER JOIN teacher tc ON t.teacher_no=tc.teacher_no
		<where>
			<if test="searchWord != null || searchWord != '' ">
				test_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY test_date ASC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

</mapper>